# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
crud-tasks-api
*.test
*.out

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# OS
.DS_Store
Thumbs.db

# Dependencies
vendor/

# Temp files
tmp/
temp/
